@import "reset";
@import "public";

.wrapper {
  width: 100%;
  margin: 10px auto;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 60px;
  height: 60px;
}

h2 {
  height: 40px;
}

.list-group{
  li{
    padding: 4px 10px;
  }
}

.total-score {
  margin-bottom: 20px;
}

.epilogue {
  margin-bottom: 20px;
}

.light-flash {
  margin-bottom: 20px;
  h3 {
    margin-top: 10px;
    font-weight: 700;
  }
  p {
    font-size: 14px;
    text-indent: 1em;
    margin-top: 10px;
  }
}

.summary-start {
  margin-bottom: 20px;

}

.summary-end {
  margin-bottom: 20px;

}

.btn{
  display: inline-block;
  padding: 4px 10px;
  margin-right: 10px;
  text-align: center;
  border-radius:4px;
  color: #fff;
  background: #f00;
}

.code-pic{
  img{
  width: 100px;
  }
}

#mcover {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: right;;
  background: rgba(0, 0, 0, .7);
  z-index: 999;
}