/*按屏幕宽度设定网页最小宽度*/
@media screen and (min-width: 375px) and (max-width: 413px) {
  body, #start, #conclusion, #end {
    min-width: 375px; //ip6
    min-height: 666px;
  }
}

@media screen and (min-width: 414px) and (max-width: 641px) {
  body, #start, #conclusion, #end {
    min-width: 414px; //ip6 plus
    min-height: 735px;
  }
}

@media screen and (min-width: 640px) {
  body, #start, #conclusion, #end {
    min-width: 640px;
    min-height: 1136px;
  }
}