a {
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  color: #000;

  &:link, &:visited {
    color: #000;
  }
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline-style: none;
    -moz-outline-style: none;
  }
}

.block {
  display: block;
  margin: 10px auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.white {
  color: #fff !important;
}

.hide {
  display: none;
}

.hide-vis {
  visibility: hidden;
}





