a {
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  color: #000;
}
a:link,
a:visited {
  color: #000;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline-style: none;
  -moz-outline-style: none;
}
.block {
  display: block;
  margin: 10px auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.white {
  color: #fff !important;
}
.hide {
  display: none;
}
.hide-vis {
  visibility: hidden;
}
/*ҳ�������ȴ�*/
.loading-page {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
  background: url("../images/loading-page.gif") no-repeat;
  background-size: 32px;
  z-index: 999;
}
