doctype html
html
    head(lang='zh-cn')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(content='telephone=no', name='format-detection')
        meta(content='email=no', name='format-detection')
        title #{title}
        link(href='/css/bootstrap.min.css', rel='stylesheet')

    body
        block content
